.header {
  padding: 0;
  margin: 0;
  max-width: 880px;
  max-height: 74px;
  height: 100vh;
}

.header__container {
  width: 100%;
  border-bottom: 1px 70% #545454;
  padding: 45px 0 0 0;
  margin: 0 200px 0 200px;
}

.header__logo {
  margin-bottom: 41px;
}
