.modal {
  display: flex;
  position: absolute;
  top: 195px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

body.modal-backdrop::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  z-index: 2;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  left: calc(100% + 5px);
  bottom: calc(100% + 5px);
  background: no-repeat url(../images/vector-imgs/Close\ Icon.svg);
  height: 40px;
  width: 40px;
  background-size: contain;
}

.modal__close:hover,
.modal__close:focus {
  opacity: 60%;
  cursor: pointer;
  text-decoration: none;
}

.modal__container {
  padding: 36px;
  background-color: white;
  width: 360px;
  height: 294px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin: 0;
  padding: 0;

  font-family: "Inter", "Times New Roman", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}

.modal__title_image-view {
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  text-align: left;
}

.modal__form {
}

.modal__form-fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 54px 0 0;
}

.modal__form-label {
  color: black;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

.modal__input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0 30px;
  padding: 0 0 13px;
  height: 28px;
}

.modal__submit {
  background: black;
  color: white;
  border: 2px black;
  height: 50px;
  width: 358px;
  margin: 18px 0 0 0;
  cursor: pointer;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
}

.modal__submit:hover {
  opacity: 80%;
}

.modal__content {
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
}

.modal__image {
  max-width: 100%;
  max-height: 100%;
}

@media all and (max-width: 794px) {
  .modal {
    width: 282px;
    height: 322px;
    top: 123px;
    margin: 0 auto;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    left: calc(100% - 28px);
    bottom: calc(100% + 13px);
  }

  .modal__close_image-preview {
    height: 30px;
    width: 30px;
    left: calc(100% + 6px);
    bottom: calc(100% + 6px);
  }

  .modal__container {
    width: 295px;
    height: 278px;
    padding: 25px 22px;
  }

  .modal__form-fieldset {
    margin: 62px 0 0;
  }

  .modal__title {
    height: 22px;

    font-size: 18px;
  }

  .modal__input {
    padding: 0 0 9px;
  }

  .modal__submit {
    width: 238px;
    height: 46px;
    margin: 16px 0 0;
    padding: 0;
  }
}
