.modal {
  background: rgb(0, 0, 0, 0.5);
  display: flex;
  width: 430px;
  height: 330px;
  position: absolute;
  top: 195px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

body.modal-backdrop::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  z-index: 2;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

/* body.modal-backdrop.modal_opened::before {
  opacity: 1;
} */

.modal__close {
  position: absolute;
  left: 100%;
  bottom: 100%;
  background: no-repeat url(../images/vector-imgs/Close\ Icon.svg);
  height: 40px;
  width: 40px;
  background-size: contain;
}

.modal__close:hover,
.modal__close:focus {
  opacity: 60%;
  cursor: pointer;
  text-decoration: none;
}

.modal__container {
  background-color: white;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin: 34px auto 54px 36px;

  font-family: "Inter", "Times New Roman", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}

.modal__form {
}

.modal__form-fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__form-label {
  color: black;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

.modal__input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 36px 30px;
  padding: 0 0 13px;
}

.modal__submit {
  background: black;
  color: white;
  border: 2px black;
  height: 50px;
  width: 358px;
  margin: 18px 36px 36px;
  cursor: pointer;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
}

.modal__submit:hover {
  opacity: 80%;
}

.modal__content {
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
}

.modal__image {
  max-width: 100%;
  max-height: 100%;
}

@media all and (max-width: 794px) {
  .modal {
    width: 282px;
    height: 322px;
    top: 130px;
  }

  .modal__close {
    top: -39.62px;
    left: 245.62px;
    height: 26px;
    width: 26px;
  }

  .modal__container {
    width: 282px;
    height: 322px;
    margin: 0 19px;
  }

  .modal__title {
    width: 238px;
    height: 22px;
    margin: 25px 22px 60px;

    font-size: 18px;
  }

  .modal__input {
    width: 238px;
    margin: 0 22px 30px;
  }

  .modal__submit {
    width: 238px;
    height: 46px;
    margin: 15px 22px 25px;
    padding: 0 auto;
  }
}
