.header {
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 45px 0 0;
  margin: 0 auto;
}

.header__logo {
  margin-bottom: 41px;
  padding: 0;
}

@media all and (max-width: 910px) {
  .header {
    margin: 0 20px;
  }

  .header__logo {
    margin: 0 auto 41px;
  }
}

@media all and (max-width: 597px) {
  .header {
    margin: 0;
    padding: 0;
  }

  .header__logo {
    margin: 28px auto 32px 27px;
    height: 24px;
    width: 126px;
  }
}
