<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Around The U.S.</title>

    <meta charset="utf-8" />
    <meta name="author" content="AEMxr" />
    <meta name="description" content="Amazing views from around the USA" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Project, Images, Layout Design, TripleTen, AEMxr"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link href="./pages/index.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="./favicon.ico" /> -->
  </head>

  <body class="body">
    <header class="header">
      <img
        class="header__logo"
        src="<%= require('./images/vector-imgs/aroundtheustitle.svg') %>"
        alt="Around The US Logo"
      />
    </header>

    <main>
      <section class="profile">
        <div class="profile__container">
          <div class="profile__avatar-container">
            <img class="profile__avatar" src="#" alt="Profile Avatar" />
            <button
              id="avatarEditButton"
              class="profile__avatar_overlay"
              type="button"
            >
              <img
                class="profile__avatar_edit"
                src="<%= require('../src/images/profile-imgs/AvatarEdit.svg')%>"
                alt="Profile Avatar Edit"
              />
            </button>
          </div>
          <div class="profile__info">
            <div class="profile__bar">
              <h1 class="profile__name">Jacques Cousteau</h1>
              <button
                id="profileEditButton"
                class="profile__edit-button"
                type="button"
                aria-label="edit name"
              >
                <img
                  src="<%= require('./images/vector-imgs/editbutton.svg') %>"
                  alt="edit name"
                />
              </button>
            </div>
            <p class="profile__profession">Explorer</p>
          </div>
          <button
            class="profile__add"
            id="imageEditButton"
            type="button"
            aria-label="add image"
          >
            <img
              src="<%= require('./images/vector-imgs/addbutton.svg') %>"
              alt="add image"
            />
          </button>
        </div>
      </section>

      <section class="cards">
        <div class="cards__grid">
          <template id="card-template">
            <article class="card">
              <img class="card__image" src="" alt="" />
              <button class="card__delete" type="button"></button>
              <div class="card__content">
                <h2 class="card__label" id="card__title"></h2>
                <button class="card__heart" type="button"></button>
              </div>
            </article>
          </template>
        </div>
      </section>
    </main>

    <footer class="footer">
      <p class="footer__copywrite">&copy; 2024 AEM</p>
    </footer>

    <div id="avatarModal" class="modal">
      <div class="modal__container modal__avatar">
        <button class="modal__close" id="avatarClose"></button>
        <h2 class="modal__title">Change profile picture</h2>

        <form class="form" name="avatarEdit" autocomplete="off" novalidate>
          <fieldset class="form__fieldset" id="avatarEditFieldset">
            <div class="form__input-container">
              <input
                type="url"
                class="form__input"
                id="avatar"
                placeholder="Image URL"
                minlength="2"
                maxlength="400"
                required
              />
              <span class="form__input-error" id="name-error"></span>
            </div>

            <button
              type="submit"
              id="modalSubmit"
              class="modal__submit modal__submit_disabled"
              disabled
            >
              Save
            </button>
          </fieldset>
        </form>
      </div>
    </div>

    <div id="profileModal" class="modal">
      <div class="modal__container">
        <button class="modal__close" id="profileClose"></button>
        <h2 class="modal__title">Edit profile</h2>

        <form class="form" name="profileForm" autocomplete="off" novalidate>
          <fieldset class="form__fieldset" id="profileFormFieldset">
            <div class="form__input-container">
              <input
                type="text"
                class="form__input"
                id="name"
                placeholder="Name"
                minlength="2"
                maxlength="40"
                required
              />
              <span class="form__input-error" id="name-error"></span>
            </div>

            <div class="form__input-container">
              <input
                type="text"
                class="form__input"
                id="description"
                placeholder="Job"
                minlength="2"
                maxlength="400"
                required
              />
              <span class="form__input-error" id="description-error"></span>
            </div>

            <button
              type="submit"
              id="modalSubmit"
              class="modal__submit modal__submit_disabled"
              disabled
            >
              Save
            </button>
          </fieldset>
        </form>
      </div>
    </div>

    <div id="imageModal" class="modal">
      <div class="modal__container">
        <button class="modal__close" id="imageClose"></button>
        <h2 class="modal__title">New Place</h2>

        <form class="form" name="imageForm" autocomplete="off" novalidate>
          <fieldset class="form__fieldset">
            <div class="form__input-container">
              <input
                type="text"
                class="form__input"
                id="title"
                placeholder="Title"
                minlength="1"
                maxlength="30"
                required
              />
              <span class="form__input-error" id="title-error"></span>
            </div>

            <div class="form__input-container">
              <input
                type="url"
                class="form__input"
                id="link"
                placeholder="Image link"
                required
              />
              <span class="form__input-error" id="link-error"></span>
            </div>

            <button
              type="submit"
              id="modal__submit"
              class="modal__submit modal__submit_disabled"
              disabled
            >
              Create
            </button>
          </fieldset>
        </form>
      </div>
    </div>

    <div id="previewModal" class="modal modal_preview">
      <div class="modal__content">
        <button
          class="modal__close modal__close_image-preview"
          id="previewClose"
        ></button>
        <img id="previewImage" src="" alt="" class="modal__image" />
        <p class="modal__title modal__title_image-view" id="imageViewTitle"></p>
      </div>
    </div>

    <!-- <script src="./pages/index.js" type="module"></script> -->
  </body>
</html>
